fastapi==0.109.2
uvicorn==0.27.1
supabase==2.3.4
pydantic==2.6.1
pydantic-settings==2.1.0
python-dotenv==1.0.1
groq
fastembed
python-multipart
email-validator
pypdf
beautifulsoup4
httpx
tiktoken

pydub
elevenlabs
llama_index
docling
